.container{
    width: 100%;
    background-color: black;
    min-height: 90vh;
    display: flex;
    justify-content: center;
}
.orderContainer{
    width: 80%;
}
.cartItem{
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    border: 1px solid white;
}
.cartImg > img{
    height: 150px;
    width:  150px;
    object-fit: cover;
}
.info{
    display: flex;
    gap: 2rem;
}
.cartInfo {
    padding: 0;
    margin: 0;
    color: white;
}
.productInfo{
    color: white;
}
.btns > button{
    border: 2px solid white;
    background-color: black;
    color: white;
    height: 3rem;
    width: 8rem;
    font-size: 1.25rem;
}
/* I Phone 7 */
@media (min-width: 0px) and (max-width: 320px) {
    .container{
        border: 1px solid white;
        width: 100%;
        display: grid;
        place-items: center;
    }
    .orderContainer{
       width: 100%;
    }
    .cartItem{
        width: 100%;
        display: grid;
        gap: 0;
    }
    .cartImg{
        display: grid;
        justify-content: center;
    }
    .cartImg > img{
        height: 200px;
        width:  200px;
        object-fit: cover;
    }
    .info{
        display: grid;
    }
}
/* NORMAL PHONE */
@media (min-width: 321px) and (max-width: 375px) {
    .container{
        border: 1px solid white;
        width: 100%;
        display: grid;
        place-items: center;
    }
    .orderContainer{
        width: 100%;
    }
    .cartItem{
        width: 100%;
        display: grid;
        gap: 0;
    }
    .cartImg{
        display: grid;
        justify-content: center;
    }
    .cartImg > img{
        height: 200px;
        width:  200px;
        object-fit: cover;
    }
    .info{
        display: grid;
    }
}
/* I PHONE 13 ONE PLUS*/
@media (min-width: 376px) and (max-width: 425px) {
    .container{
        border: 1px solid white;
        width: 100%;
        display: grid;
        place-items: center;
    }
    .orderContainer{
        width: 100%;
    }
    .cartItem{
        width: 100%;
        display: grid;
        gap: 0;
    }
    .cartImg{
        display: grid;
        justify-content: center;
    }
    .cartImg > img{
        height: 200px;
        width:  200px;
        object-fit: cover;
    }
    .info{
        display: grid;
    }
}
/* I PHONE 13 MAX */
@media (min-width: 426px) and (max-width: 767px) {
    .container{
        border: 1px solid white;
        width: 100%;
        display: grid;
        place-items: center;
    }
    .orderContainer{
        width: 100%;
    }
    .cartItem{
        width: 100%;
        display: grid;
        gap: 0;
    }
    .cartImg{
        display: grid;
        justify-content: center;
    }
    .cartImg > img{
        height: 200px;
        width:  200px;
        object-fit: cover;
    }
    .info{
        display: grid;
    }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .mainContainer{
        height: 90vh;
        align-items: center;
    }
    .container{
        width: 100%;
    }
    .product{
        display: flex;
    }
    .product > div{
        width: 100%;
        height: 100%;
    }
    .productImg{
        height: 250px;
        width:  250px;
    }
    .price{
        font-size: 1rem;
    }
    .btns{
        padding-bottom: 3.5rem;
    }
    .btns > button{
        height: 40px;
        font-size: 1rem;
    }
}
/* Foldable Mobile */
@media (min-width: 1024px) and (max-width: 1439px) {
    .mainContainer{
        height: 90vh;
        align-items: center;
    }
    .container{
        width: 100%;
    }
    .product{
        display: flex;
    }
    .product > div{
        width: 100%;
        height: 100%;
    }
    .productImg{
        height: 350px;
        width:  350px;
    }
    .price{
        font-size: 1rem;
    }
    .btns{
        padding-bottom: 3.5rem;
    }
    .btns > button{
        height: 40px;
        font-size: 1rem;
    }
}
