.createPostContainer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}
.createPostContainer > div{
    border: 1px solid white;
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    background-color: black;
    align-items: center;
    gap: 1rem;
}
.addFile{
    border: 1px solid white;
    background-color: black;
    color: white;
    height: 50px;
    width: 100px;
    text-align: center;
    padding: 0.5rem;
    border-radius: 10px;
}
.sendBtn{
    cursor: pointer;
    border: 1px solid white;
    background-color: black;
    color: white;
    height: 50px;
    width: 100px;
    text-align: center;
    padding: 0.5rem;
    border-radius: 10px;
}
.inputTag > input{
    height: 45px;
    padding-left: 0.5rem;
    outline: none;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}
.container{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 2.5rem;
}
.productContainer{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}
.product{
    padding: 1rem;
}
.productImg{
    height: 200px;
    width:  200px;
    object-fit: cover;
}

.name > textarea{
    width: 100%;
    height: 100%;
    resize: none;
    background-color: black;
    color: white;
    border: none;
    outline: none;
}
.price{
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* I Phone 7 */
@media (min-width: 0px) and (max-width: 320px) {
    .createPostContainer >div{
        display: grid;
        place-items: center;
    }
    .productContainer{
        grid-template-columns: auto auto;
        width: 100%;
    }
    .productImg{
        height: 125px;
        width:  125px;
    }
    .name > textarea{
        width:60%;
    }
    .price{
        display: grid;
    }
    .price > h3{
        gap: 0.5rem;
        font-size: 0.8rem;
    }
    .discountedPrice{
        font-size: 1rem;
    }

}
/* NORMAL PHONE */
@media (min-width: 321px) and (max-width: 375px) {
    .createPostContainer >div{
        display: grid;
        place-items: center;
    }
    .productContainer{
        grid-template-columns: auto auto;
        width: 100%;
    }
    .productImg{
        height: 125px;
        width:  125px;
    }
    .name > textarea{
        width:60%;
    }
    .price{
        display: grid;
    }
    .price > h3{
        gap: 0.5rem;
        font-size: 0.8rem;
    }
    .discountedPrice{
        font-size: 1rem;
    }
}

/* I PHONE 13 ONE PLUS*/
@media (min-width: 376px) and (max-width: 425px) {
    .createPostContainer >div{
        display: grid;
        place-items: center;
    }
    .productContainer{
        grid-template-columns: auto auto;
        width: 100%;
    }
    .productImg{
        height: 150px;
        width:  150px;
    }
    .name > textarea{
        width:60%;
    }
    .price{
        display: grid;
    }
    .price > h3{
        gap: 0.5rem;
        font-size: 0.8rem;
    }
    .discountedPrice{
        font-size: 1rem;
    }
}
/* I PHONE 13 MAX */
@media (min-width: 426px) and (max-width: 767px) {
    .createPostContainer >div{
        display: grid;
        place-items: center;
    }
    .productContainer{
        grid-template-columns: auto auto;
        width: 100%;
    }
    .productImg{
        height: 150px;
        width:  150px;
    }
    .name > textarea{
        width:60%;
    }
    .price{
        display: grid;
    }
    .price > h3{
        gap: 0.5rem;
        font-size: 0.8rem;
    }
    .discountedPrice{
        font-size: 1rem;
    }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .productContainer{
        grid-template-columns: auto auto auto;
        width: 100%;
    }
    .price{
        display: grid;
    }
    .price > h3{
         gap: 0.5rem;
         font-size: 0.8rem;
     }

}
/* Foldable Mobile */
@media (min-width: 1024px) and (max-width: 1439px) {
    .productContainer{
        grid-template-columns: auto auto auto;
        width: 100%;
    }
    .price{
        display: grid;
    }
    .price > h3{
        gap: 0.5rem;
        font-size: 0.8rem;
    }
}
