.container{
    border-top: 1px solid gray;
    height: 90vh;
    font-family: "Gilroy";
    font-family: "Permanent Marker", cursive;
    font-style: normal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    box-shadow: 1px 1px 20px 1px  rgb(179, 179, 179);
    border: 0.5px solid rgb(179, 179, 179);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.imgContainer > img{
    height: 500px;
    width:  500px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}
.infoContainer{
    width: 500px;
    height: 500px;
    padding: 1rem;
    color: dimgray;
}
.infoContainer >textarea{
    height: 65%;
    margin-top: 2.5%;
    width: 100%;
    background-color: white;
    border: none;
    resize: none;
}

.ViewProfileBtn{
    background-color: #65CCB7;
    width: 180px;
    color: white;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    margin-top: 5%;
}
/* I Phone 7 */
@media (min-width: 0px) and (max-width: 320px){
    .container{
        height: 120vh;
    }
    .card{
        display: grid;
    }
    .imgContainer > img{
        height: 250px;
        border-radius: 20px;
        width:  250px;
    }
    .infoContainer >textarea{
        height: 120px;
    }
    .infoContainer{
        height: 250px;
        width:  250px;
    }
}
/* NORMAL PHONE */
@media (min-width: 321px) and (max-width: 375px){
    .card{
        display: grid;
    }
    .imgContainer > img{
        border-radius: 20px;
        height: 300px;
        width:  300px;
    }
    .infoContainer >textarea{
        height: 150px;
    }
    .infoContainer{
        height: 300px;
        width:  300px;
    }
}
/* I PHONE 13 ONE PLUS*/
@media (min-width: 376px) and (max-width: 425px){
    .card{
        display: grid;
    }
    .imgContainer > img{
        border-radius: 20px;
        height: 300px;
        width:  300px;
    }
    .infoContainer >textarea{
        height: 150px;
    }
    .infoContainer{
        height: 300px;
        width:  300px;
    }
}
/* I PHONE 13 MAX */
@media (min-width: 426px) and (max-width: 767px){
    .card{
        display: grid;
    }
    .imgContainer > img{
        border-radius: 20px;
        height: 300px;
        width:  300px;
    }
    .infoContainer >textarea{
        height: 150px;
    }
    .infoContainer{
        height: 300px;
        width:  300px;
    }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px){
    .container{
        height: 100vh;
    }
    .card{
        display: grid;
    }
    .imgContainer > img{
        border-radius: 20px;
        height: 500px;
        width:  500px;
    }
    .infoContainer >textarea{
        height: 150px;
    }
    .infoContainer{
        height: 350px;
        width:  500px;
    }
}
/* Foldable Mobile */
@media (min-width: 1024px) and (max-width: 1439px){
    .imgContainer > img{
        border-radius: 20px;
        height: 400px;
        width:  400px;
    }
    .infoContainer{
        height: 400px;
        width:  400px;
    }
}