.mainContainer{
    background-color: #000000;
    height: 100%;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}
.poster{
    object-fit: cover;
    width: 100%;
    height: 350px;
}
.header{
    text-align: center;
    color: #FFFFFF;
    padding: 1rem 0 3rem 0;
}
.header > h3{
    font-weight: lighter;
}
.header > h6{
    font-weight: lighter;
}
.image{
    height: 100%;
    width:  100%;
    object-fit: cover;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
.image:hover{
    transform: scale(1.1);
}
.productContainer{
    margin: 1rem 1rem ;
    width: 13vw;
}
.product{
    cursor: pointer;
    height: 27vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
}
.info{
    width: 100%;
}
.name{
    text-align: center;
    color: white;
    padding-top: 0.5rem;
    width: 100%;
    background-color: black;
    outline: none;
    resize: none;
    border: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.name::-webkit-scrollbar {
    display: none;
}

.price{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.priceInfo{
    width: 50%;
    height: 40px;
    padding-top: 0.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}
.discountedPrice{
    font-size: 1.5rem;
    color: #FFFFFF;
}
.btns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns > button{
    background-color: black;
    color: white;
    border: 1px solid white;
    margin: 0.5rem ;
    border-radius: 0.25rem;
    width: 50%;
    height: 40px;
    font-size: 15px;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
.btns > button:hover{
    scale: 1.1;
}
.cart{
    width: 20px;
    height: 20px;
}

/* I Phone 7 */
@media (min-width: 0px) and (max-width: 320px) {
    .container{
        grid-template-columns: auto auto;
    }
    .poster{
        height: 30vh;
    }
    .productContainer{
        width: 42.5vw;
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .priceInfo{
        gap: 0.5rem;
    }
    .btns > button{
        width: 100%;
    }

}
/* NORMAL PHONE */
@media (min-width: 321px) and (max-width: 375px) {
    .container{
        grid-template-columns: auto auto;
    }
    .poster{
        height: 20vh;
    }
    .productContainer{
        width: 40vw;
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .product{
        height: 18vh;
    }
    .btns > button{
        width: 100%;
    }
    .priceInfo{
        gap: 0.5rem;
    }
}

/* I PHONE 13 ONE PLUS*/
@media (min-width: 376px) and (max-width: 425px) {
    .container{
        grid-template-columns: auto auto;
    }
    .poster{
        height: 20vh;
    }
    .productContainer{
        width: 40vw;
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .product{
        height: 18vh;
    }
    .btns > button{
        width: 100%;
    }
    .priceInfo{
        gap: 0.5rem;
    }
}
/* I PHONE 13 MAX */
@media (min-width: 426px) and (max-width: 767px) {
    .container{
        grid-template-columns: auto auto;
    }
    .poster{
        height: 20vh;
    }
    .productContainer{
        width: 40vw;
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .product{
        height: 18vh;
    }
    .btns > button{
        width: 100%;
    }
    .priceInfo{
        gap: 0.5rem;
    }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .container{
        grid-template-columns: auto auto;
    }
    .poster{
        height: 20vh;
    }
    .productContainer{
        width: 40vw;
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .product{
        height: 20vh;
        width: 30vw;
    }
    .btns > button{
        width: 100%;
    }
}
/* Foldable Mobile */
@media (min-width: 1024px) and (max-width: 1439px) {
    .container{
        grid-template-columns: auto auto auto auto;
    }
    .poster{
        height: 40vh;
    }
    .productContainer{
        width: 15vw;
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .product{
        height: 20vh;
        /*width: 30vw;*/
    }
    .btns > button{
        width: 100%;
    }
}
