.profileContainer{
    border-top: 1px solid rgb(187, 187, 187);
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
}
.card{
    color: white;
    font-family: "Gilroy";
    font-family: "Permanent Marker", cursive;
    font-style: normal;
    width: 15vw;
    height: 20vw;
}
.profileImg {
    display: grid;
    place-items: center;
    width: 100%;
}
.profileImg img {
    border-radius: 100%;
    object-fit: cover;
    height:150px;
    width: 50%;
}
.wrapperDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 10px;
}
.imgContainer{
    border-bottom: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
}
.cardInfo{
    border-top: 1px solid rgb(187, 187, 187);
    padding-top: 2.5rem;
    display: grid;
    place-items: center;
    text-align: start;
}
.contactInfo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contactInfo > a{
    color: white;
    text-decoration: none;
}

.editBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}
.editBtn>button{
    width: 80px;
    height: 30px;
    font-size: 1.1rem;
    color: white;
    border-radius: 10px;
    background-color: black;
    border: 1px solid white;
}
.closeBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.closeBtn>button{
    width: 80px;
    height: 30px;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: black;
}
.editContainer{
    height:100%;
    border-radius: 10px;
    background-color: white;
}
.address{
    list-style-type: none;
}
.editInput{
    display: grid;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
}
.editInput>input{
    width: 300px;
    height: 40px;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    color: white;
    background-color: black;
}
.DoneBtn{
    width: 80px;
    height: 30px;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border: none;
    border-radius: 10px;
    color: white;
}
.editInput > input{
    border: 1px solid rgb(187, 187, 187);
    outline: none;
}
.bioError{
    text-align: center;
    color: red;
    font-size: 1.5rem;
    margin-bottom: 5%;
}

/* I Phone 7 */
@media (min-width: 0px) and (max-width: 320px) {
    .profileContainer{
        width: 100%;
        height: 100vh;
    }
    .card{
        width: 100%;
        height: 100%;
    }
    .editBtn{
        padding-bottom: 0.5rem;
    }
}
/* NORMAL PHONE */
@media (min-width: 321px) and (max-width: 375px) {
    .profileContainer{
        width: 100%;
        height: 100vh;
    }
    .card{
        width: 100%;
        height: 100%;
    }
    .editBtn{
        padding-bottom: 0.5rem;
    }
}
/* I PHONE 13 ONE PLUS*/
@media (min-width: 376px) and (max-width: 425px) {
    .profileContainer{
        width: 100%;
        height: 100vh;
    }
    .card{
        width: 100%;
        height: 100%;
    }
    .editBtn{
        padding-bottom: 0.5rem;
    }
}
/* I PHONE 13 MAX */
@media (min-width: 426px) and (max-width: 767px) {
    .profileContainer{
        width: 100%;
        height: 100vh;
    }
    .card{
        width: 100%;
        height: 100%;
    }
    .editBtn{
        padding-bottom: 0.5rem;
    }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .profileContainer{
        width: 100%;
        height: 100vh;
    }
    .card{
        width: 100%;
        height: 100%;
    }
    .editBtn{
        padding-bottom: 0.5rem;
    }
}
/* Foldable Mobile */
@media (min-width: 1024px) and (max-width: 1439px) {
    .profileContainer{
        width: 100%;
        height: 100vh;
    }
    .card{
        width: 100%;
        height: 100%;
    }
    .editBtn{
        padding-bottom: 0.5rem;
    }
}
