.container{
    border-top: 1px solid gray;
    height: 90vh;
    background-color: white;
    font-family: "Gilroy";
    font-family: "Permanent Marker", cursive;
    font-style: normal;
    color:#65CCB7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.infoContainer{
    height: 500px;
    width: 500px;
    padding: 1rem;
    color:#65CCB7;
    display: grid;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 1px 1px 20px 1px  rgb(179, 179, 179);
}
.imgContainer > img{
    height: 500px;
    width:  500px;
    object-fit: cover;
}
.adminName{
    display: grid;
    align-items: center;
    justify-content: center;
    color:#65CCB7;
    width: 400px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 1px 1px 20px 1px  rgb(179, 179, 179);
}
.bio{
    display: grid;
    align-items: center;
    justify-content: center;
    color:#65CCB7;
    height: 140px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 1px 1px 20px 1px  rgb(179, 179, 179);
}
.bio >p  > textarea{
    color:#65CCB7;
    resize: none;
    text-align: center;
    border: none;
    height: 100px;
    background-color: white;
}
.bio >p  > textarea::-webkit-scrollbar{
    display: none;
}
.contactInfo{
    display: grid;
    align-items: center;
    justify-content: center;
    color:#65CCB7;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 1px 1px 20px 1px  rgb(179, 179, 179);
}

/* I Phone 7 */
@media (min-width: 0px) and (max-width: 320px) {
    .container{
        height: 140vh;
    }
    .card{
        display: grid;
        height: 600px;
    }
    .imgContainer > img{
        height: 200px;
        width:  200px;
    }
    .bio{
        height: 100px;
    }
    .bio >p  > textarea{
        height: 80px;
    }
    .infoContainer{
         height: 100px;
         width:  250px;
         padding-left: 1rem;
         gap: 0;
    }
    .adminName{
        width: 240px;
        margin-top: -30vh;
    }
    .contactInfo{
        margin-top: 1rem;
        margin-bottom: 5rem;
    }
}
/* NORMAL PHONE */
@media (min-width: 321px) and (max-width: 375px){

    .card{
        display: grid;
        height: 600px;
    }
    .imgContainer > img{
        height: 230px;
        width:  230px;
        border-radius: 20px;
    }
    .bio{
        height: 100px;
    }
    .bio >p  > textarea{
        height: 80px;
    }
    .infoContainer{
        height: 100px;
        width:  250px;
        padding-left: 1rem;
        gap: 0;
    }
    .adminName{
        width: 240px;
        margin-top: -20vh;
    }
    .contactInfo{
        margin-top: 1rem;
        margin-bottom: 10rem;
    }
}
/* I PHONE 13 ONE PLUS*/
@media (min-width: 376px) and (max-width: 425px) {
    .card{
        display: grid;
        width: 300px;
        align-items: center;
        justify-content: center;
        height: 600px;
    }
    .imgContainer > img{
        height: 230px;
        width:  250px;
        border-radius: 20px;

    }
    .bio{
        height: 80px;
    }
    .bio >p  > textarea{
        height: 40px;
    }
    .infoContainer{
        height: 500px;
        width:  250px;
        padding-left: 1rem;
        gap: 0;
    }
    .adminName{
        width: 240px;
    }
    .contactInfo{
        margin-bottom: 10rem;
    }
}
/* I PHONE 13 MAX */
@media (min-width: 426px) and (max-width: 767px){
    .card{
        display: grid;
        width: 300px;
        align-items: center;
        justify-content: center;
        height: 600px;
    }
    .imgContainer > img{
        height: 230px;
        width:  250px;
        border-radius: 20px;

    }
    .bio{
        height: 100px;
    }
    .bio >p  > textarea{
        height: 60px;
    }
    .infoContainer{
        height: 500px;
        width:  250px;
        padding-left: 1rem;
        gap: 0;
    }
    .adminName{
        width: 240px;
    }
    .contactInfo{
        margin-bottom: 10rem;
    }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px){
    .card{
        display: grid;
        width: 400px;
        align-items: center;
        justify-content: center;
        height: 600px;
    }
    .imgContainer > img{
        height: 230px;
        width:  250px;
        border-radius: 20px;
    }
    .bio{
        height: 100px;
    }
    .bio >p  > textarea{
        height: 60px;
    }
    .infoContainer{
        height: 500px;
        width:  400px;
        padding-left: 1rem;
        gap: 0;
    }
    .adminName{
        width: 350px;
    }
    .contactInfo{
        height: 120px;
        margin-bottom: 10rem;
    }
}
/* Foldable Mobile */
@media (min-width: 1024px) and (max-width: 1439px){
    .container{
        height: 100vh;
    }
}