.container{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 5rem ;
    width: 100%;
}
.container > h1{
    font-size: 2rem;
}
.Btns > button {
    color: white;
    border: 1px solid white;
    height: 3rem;
    width: 8rem;
    border-radius: 0.5rem;
    background-color: black;
}


/* NORMAL PHONE */
@media (min-width: 321px) and (max-width: 375px){

    .container{
        padding: 1rem ;
    }
    .container > h1{
        font-size: 1rem;
    }
    .Btns > button {
        color: white;
        border: 1px solid white;
        height: 2rem;
        width: 6rem;
        border-radius: 0.5rem;
        background-color: black;
    }
}
/* I PHONE 13 ONE PLUS*/
@media (min-width: 376px) and (max-width: 425px){
    .container{
        padding: 1rem ;
    }
    .container > h1{
        font-size: 1rem;
    }
    .Btns > button {
        color: white;
        border: 1px solid white;
        height: 3rem;
        width: 6rem;
        border-radius: 0.5rem;
        background-color: black;
    }
}

/* I PHONE 13 MAX */
@media (min-width: 426px) and (max-width: 767px) {
    .container{
        padding: 1rem ;
    }
    .container > h1{
        font-size: 1rem;
    }
    .Btns > button {
        color: white;
        border: 1px solid white;
        height: 2rem;
        width: 6rem;
        border-radius: 0.5rem;
        background-color: black;
    }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px){
    .container{
        padding: 1rem ;
    }
    .container > h1{
        font-size: 1rem;
    }
    .Btns > button {
        color: white;
        border: 1px solid white;
        height: 2rem;
        width: 6rem;
        border-radius: 0.5rem;
        background-color: black;
    }
}
/* Foldable Mobile */
@media (min-width: 1024px) and (max-width: 1439px){
    .container{
        padding: 1rem ;
    }
    .container > h1{
        font-size: 1rem;
    }
    .Btns > button {
        color: white;
        border: 1px solid white;
        height: 2rem;
        width: 6rem;
        border-radius: 0.5rem;
        background-color: black;
    }
}