.container{
    font-family: "Gilroy";
    font-family: "Permanent Marker", cursive;
    font-style: normal;
    height: 90vh;
    border-top: 0.5px solid rgb(179, 179, 179);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.PostViewContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    box-shadow: 1px 1px 20px 1px  rgb(179, 179, 179);
    border: 0.5px solid rgb(179, 179, 179);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.cardImg > img{
    height: 500px;
    width:  500px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}
.infoContainer{
    width: 500px;
    height: 500px;
    padding: 1rem;
    color: dimgray;
}
.infoContainer >textarea{
    height: 65%;
    margin-top: 2.5%;
    width: 100%;
    background-color: white;
    border: none;
    resize: none; 
}
.adminInfo > div{
    margin-top: 2.5%;
}
.ViewProfileBtn{
    background-color: #65CCB7;
    width: 180px;
    color: white;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
/* I Phone 7 */
@media (min-width: 0px) and (max-width: 320px) {

    .PostViewContainer{
        margin-top: 50vh;
    }
    .card{
        display: grid;
        width: auto;
        margin-bottom: 50px;
    }
    .cardImg > img{
        height: 250px;
        width:  250px;
        border-radius: 20px;
    }
    .infoContainer > textarea{
        height: 80px;
    }
    .infoContainer{
        width: 100%;
        height: 100%;
    }
}
/* NORMAL PHONE */
@media (min-width: 321px) and (max-width: 375px) {
    .card{
        margin-top: 10%;
        display: grid;
        width: auto;
        margin-bottom: 50px;
    }
    .cardImg > img{
        height: 300px;
        width:  300px;
        border-radius: 20px;
    }
    .infoContainer > textarea{
        height: 100px;
    }
    .infoContainer{
        width: 100%;
        height: 100%;
    }
}
/* I PHONE 13 ONE PLUS*/
@media (min-width: 376px) and (max-width: 425px) {
    .card{
        display: grid;
        width: auto;
        margin-bottom: 50px;
    }
    .cardImg > img{
        height: 300px;
        width:  300px;
        border-radius: 20px;
    }
    .infoContainer > textarea{
        height: 100px;
    }
    .infoContainer{
        width: 100%;
        height: 100%;
    }
}
/* I PHONE 13 MAX */
@media (min-width: 426px) and (max-width: 767px) {
    .card{
        display: grid;
        width: auto;
        margin-bottom: 50px;
    }
    .cardImg > img{
        height: 300px;
        width:  300px;
        border-radius: 20px;
    }
    .infoContainer > textarea{
        height: 100px;
    }
    .infoContainer{
        width: 100%;
        height: 100%;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .card{
        display: grid;
        width: auto;
        margin-bottom: 50px;
    }
    .cardImg > img{
        height: 450px;
        width:  450px;
        border-radius: 20px;
    }
    .infoContainer > textarea{
        height: 250px;
    }
    .infoContainer{
        width: 100%;
        height: 100%;
    }
}